input {
	text-align: center;
}

input[type="password"] {
    mask-size: 32px;
}

#win {
	display: none;
}

#loss {
	display: none;
}

#guessDiv {
	display: none;
}

#incorrectLetters {
	display: none;
}

h1 {
	background-color: #ABD0CE;
	padding: 20px;
	width: 100%;
	color: #1D2951;
}

#userPhrase {
	padding: 8px;
	width: 60%;
	font-size: 16px;
}

#userGuess {
	padding: 8px;
	width: 60%;
	font-size: 16px;
}

#showPhrase {
	color: blue;
	text-decoration: underline;
}

#showPhrase:hover {
	cursor: pointer;
}

#phrase {
	letter-spacing: 10px;
	font-size: x-large;
}