input {
	text-align: center;
	padding: 8px;
	width: 60%;
	font-size: 16px;
}

input[type="password"] {
    mask-size: 32px;
}

#win {
	display: none;
}

#loss {
	display: none;
}

#warning {
	display: none;
}

#guessDiv {
	display: none;
}

#guessPhraseDiv {
	display: none;
}

#incorrectLetters {
	display: none;
}

h1 {
	background-color: #ABD0CE;
	padding: 20px;
	width: 100%;
	color: #1D2951;
}

#showPhrase {
	color: blue;
	text-decoration: underline;
}

#showPhrase:hover {
	cursor: pointer;
}

#phrase {
	letter-spacing: 10px;
	font-size: x-large;
}

#goForGold {
	color: blue;
	text-decoration: underline;
}

#goForGold:hover {
	cursor: pointer;
}

#noGold {
	color: blue;
	text-decoration: underline;
}

#noGold:hover {
	cursor: pointer;
}


