input {
	text-align: center;
}

#win {
	display: none;
}

#loss {
	display: none;
}

#guessDiv {
	display: none;
}

#incorrectLetters {
	display: none;
}

h1 {
	background-color: #ABD0CE;
	padding: 20px;
	width: 100%;
	color: #1D2951;
}